* {
    margin: 0;
}

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#chatlog {
    background-color: dodgerblue;
    height: calc(100% - 70px);
    width: calc(100% - 20px);
    overflow-y: scroll;
    padding: 10px;
}

#chatlog::-webkit-scrollbar {
    display: none;
}

#input {
    width: calc(100% - 150px);
    padding: 0 20px;
    height: 50px;
    font-size: 25px;
}

#post {
    font-size: 25px;
    width: 100px;
    height: 50px;
}

.others,
.mine {
    border-radius: 10px;
    width: fit-content;
    user-select: none;
    cursor: default;
    padding: 10px;
}

.others {
    background-color: white;
}

.mine {
    margin: 0 0 0 auto;
    background-color: lime;
}